@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}

html {
    font-size: 80%;
}

.main-div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #EDD2F8;
}

.main-div h3 {
    color: #3218D6;
    font-size: 48px;
}

.inner-div {
    width: 50%;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 20 20;
    box-shadow: 0 1rem 1rem -0.7rem;
}

.inner-div h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

.inner-div li {
    list-style: none;
    font-size: 16px;
    margin-top: 2px;
}

input {
    cursor: pointer;
}

#submit,
.btn {
    padding: 3px;
    margin-top: 5px;
    border: none;
    background-color: #FB9191;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10 10 10 10;
}

#submit:hover {
    cursor: pointer;
    background-color: #D6181B;
}

#showScore h3 {
    font-size: 30px;
    text-align: center;
    color: #0576C9
}

#showScore .btn {
    margin-top: 18px;
    background-color: aqua;
    color: black;
}

#showScore .btn:hover {
    background-color: #05C97E;
    color: #fff;
    cursor: pointer;
}

.showArea {
    display: none;
}

@media only screen and (max-width:500px) {
    .main-div {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        background-color: #FBE091;
    }
    .inner-div {
        width: 40%;
        background-color: whitesmoke;
        border-radius: 4px;
        padding: 20 20;
        box-shadow: 0 1rem 1rem -0.7rem;
    }
}